doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title 履歷手刻
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+TC')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=IBM+Plex+Serif')
		link(rel='stylesheet' href='style.css')
	body
		#resume
			#header.section
				.img
				.dec_block.dec_1
				.dec_block.dec_2
				.text
					.name
						| 潘威利 (William Pan)
						span.identity 探索者、前端開發學習者
					.sub_info
						.school 國立臺灣大學 森林環境暨資源學系
						.contact You can find me through ‘w71800@gmail.com’ or ‘0919 - 480 - 488’
					.links 
						.link.portfolio
							a(href="https://w71800.github.io/portfolio/dist/#/" target="_blank")
						.link.github
							a(href="https://github.com/w71800" target="_blank")
			#info.section
				.left_bracket
				.main_text
					| 畢業於森林系但其實不喜歡森林系，因此選擇延畢給⾃己機會探索更多有趣的事，大多時間都不務正業。
					br
					| 喜歡跨領域接觸奇怪知識，以不斷發現這世界的廣闊作為樂趣來源，說不定想成為個 Slash。
					br
					|  雖然性格奇怪但生性浪漫且有強⼤創造力與好奇心，找到很有趣的事就會像鱷⿂般緊咬不放（不想休息
					br
					| 的那種）；但極度厭惡束縛，對環境（食物）有點挑剔。不過是只要找到好的空間就能像太陽般發光發
					br
					| 熱的⽔瓶座（雖然我不信星座）。期許⾃己是個能夠一直從口香糖包裝中窺見宇宙偉大奧妙的人。
				.right_bracket
			.dec_dashed
			#exp.section
				.title // 工作經驗
				.content_work
			.dec_dashed
			#pro_ability.section
				.title // 專業能力
				.content
					.subtitle
						| 前端開發 (Front-End Development)
						span  (2018 暑假開始自學)
						.graph
							.left_area
								.items
									.text HTML5
									.block_group
										.block_yes
										.block_yes
										.block_yes
										.block_yes
										.block_none
								.items
									.text CSS3 / sass
									.block_group
										.block_yes
										.block_yes
										.block_yes
										.block_yes
										.block_none
								.items
									.text jQuery
									.block_group
										.block_yes
										.block_yes
										.block_yes
										.block_none
										.block_none
							.right_area
								.items
									.text Bootstrap4
									.block_group
										.block_yes
										.block_yes
										.block_none
										.block_none
										.block_none
								.items
									.text Vue.js
									.block_group
										.block_yes
										.block_yes
										.block_yes
										.block_none
										.block_none
								.items
									.text RWD
									.block_group
										.block_yes
										.block_yes
										.block_none
										.block_none
										.block_none
					.subtitle
						| 簡報製作
						.graph(style='display: block;')
							.items
								.text Keynote
								.block_group
									.block_yes
									.block_yes
									.block_yes
									.block_yes
									.block_none
							.items
								.text Powerpoint
								.block_group
									.block_yes
									.block_yes
									.block_none
									.block_none
									.block_none
			.flex_row
				#soft.section
					.title // 軟實力
					.content
						.histogram
							.abilities
								h4.no_margin 創造力
								h4 學習力
								h4 邏輯力
								h4 轉化表達力
							.axis
								.block.create
								.block.learn
								.block.logic
								.block.transform
				#hobby.section
					.title // 興趣
					.content
						.row.top_row
							.items 電影
							.items 多肉植物
							.items 音樂
						.row.middle_row
							.items 玩遊戲
							.items 動漫
							.items 宗教
						.row.bottom_row
							.items 臺灣
							.items 科學
							.items 語言研究
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='index.js')
